{# index.twig #}
{% extends "_base.twig" %}

{% block page %}
<main id="main" role="main">
	<section class="slider">
		<div class="slide" style="background-image: url(images/img1.jpg)">
			<div class="container"></div>
		</div>
		<div class="slide" style="background-image: url(images/img1.jpg)">
			<div class="container"></div>
		</div>
		<div class="slide" style="background-image: url(images/img1.jpg)">
			<div class="container"></div>
		</div>
		<div class="slide" style="background-image: url(images/img1.jpg)">
			<div class="container"></div>
		</div>
		<div class="slide" style="background-image: url(images/img1.jpg)">
			<div class="container"></div>
		</div>
		<div class="slide" style="background-image: url(images/img1.jpg)">
			<div class="container"></div>
		</div>
	</section>
	<section class="block-section">
		<div class="container">
			<div class="heading">
				<h1>價值分享家</h1>
			</div>
			<div class="blocks">
				<div class="block-item">
					<a class="block" style="background-image: url(images/img2.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img3.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img4.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img2.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img3.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img4.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img2.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img3.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img4.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img4.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img2.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img3.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img4.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img4.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img2.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img3.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img4.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img4.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img2.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img3.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
			</div>
			<div class="btn-holder">
				<a href="#" class="btn">装载更多</a>
			</div>
		</div>
	</section>
</main>
{% endblock %}