{# index.twig #}
{% extends "_base.twig" %}

{% block page %}
<main id="main" role="main">
	<section class="slider">
		<div class="slide" style="background-image: url(images/img6.jpg)">
			<div class="container"></div>
		</div>
		<div class="slide" style="background-image: url(images/img6.jpg)">
			<div class="container"></div>
		</div>
		<div class="slide" style="background-image: url(images/img6.jpg)">
			<div class="container"></div>
		</div>
		<div class="slide" style="background-image: url(images/img6.jpg)">
			<div class="container"></div>
		</div>
		<div class="slide" style="background-image: url(images/img6.jpg)">
			<div class="container"></div>
		</div>
		<div class="slide" style="background-image: url(images/img6.jpg)">
			<div class="container"></div>
		</div>
	</section>
	<section class="block-section">
		<div class="container">
			<div class="text-block">
				<div class="img-holder">
					<div class="img">
						<img src="images/img7.jpg" alt="image description">
					</div>
				</div>
				<div class="text">
					<div class="txt-heading">
						<h1>香蕉哥哥</h1>
						<span class="text-info">生活旅人。走偏世界 </span>
						<ul class="social-icons">
							<li><a href="#"><span class="icon-facebook1"></span></a></li>
							<li><a href="#"><span class="icon-youtube1"></span></a></li>
							<li><a href="#"><span class="icon-instagram"></span></a></li>
							<li><a href="#"><span class="icon-heart"></span></a></li>
						</ul>
					</div>
					<span class="slogan">世界就是你的眼界大膽跨出去！</span>
					<p>「有人說旅行就像一場修練一場遊戲。可以體會到世間的人情冷暖一切未知如同遊戲地圓中未開發 的地帶。」千勇說：「在路途中文化衡擊是最直接的戚受陌生人的幫助會告訴自己幫助一個人其實很 簡單只要用自己能力所及的力量去幫助需要幫助的人。」 透過這場講座讓你找尋生命的出路給你不同的已知探索更多的未知· </p>
				</div>
			</div>
			<span class="txt-title">香蕉哥哥課程 </span>
			<div class="blocks">
				<div class="block-item">
					<a class="block" style="background-image: url(images/img2.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img3.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img4.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img2.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img3.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img4.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img2.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img3.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img4.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img4.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img2.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img3.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img4.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img4.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img2.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img3.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img4.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img4.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img2.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="block-item">
					<a class="block" style="background-image: url(images/img3.jpg)">
						<div class="text">
							<span class="title">舒叔叔兑目陌形</span>
							<h2>用镜颐貌察大自然，培食 孩子欣富世界的美鹿 </h2>
							<ul class="list">
								<li>暇血力</li>
								<li>姜破</li>
								<li>脚注力</li>
							</ul>
						</div>
					</a>
				</div>
			</div>
			<div class="btn-holder">
				<a href="#" class="btn">装载更多</a>
			</div>
		</div>
	</section>
</main>
{% endblock %}