/* ------------------------------------
 *  Width and Height
 * ------------------------------------ */

/*wrap*/
$inner-wrap-l : 1200px;
$inner-wrap-m : 1140px;

/*nav*/
$nav-l-height: 60px;
$nav-m-height: 50px;
$nav-s-height: 40px;


/* ------------------------------------
 *  Color
 * ------------------------------------ */
$white-light: #f2f2f2;

$gray: #515151;
$gray-light: #e8e8e8;
$gray-dark: #666;

$black: #000;
$black-light: #828282;
$black-dark: #202020;

$orange: #FF9900;
$orange-light: #FFCC00;
$brown: #C53421;

$yellow: #F8E71C;
$red: #D20D0D;
$blue: #1677CB;
$blue-sky: #24A3CA;

$pink: #e21d43;

$border-gray-color: #ccc;

/* ------------------------------------
 *  Font
 * ------------------------------------ */


$font-family-base:  "微軟正黑體", "Microsoft JhengHei", sans-serif;
// $base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;



$weight-l: 300;
$weight-b: 600;


$white: #fff;

$text-color: $gray;