<footer id="footer">
	<div class="container">
		<ul class="footer-nav">
			<li><a href="#">最新消息</a></li>
			<li><a href="#">關於我們</a></li>
			<li><a href="#">常見問題</a></li>
			<li><a href="#">隱私權政黃</a></li>
			<li><a href="#">聯絡我們</a></li>
		</ul>
		<ul class="social-networks">
			<li><a href="#"><span class="icon-facebook"></span></a></li>
			<li><a href="#"><span class="icon-line"></span></a></li>
			<li><a href="#"><span class="icon-youtube"></span></a></li>
		</ul>
		<ul class="contact-list">
			<li><a href="tel:0227080966"><span class="icon icon-phone"></span> 02-2708-0966</a></li>
			<li><a href="mailto:service@huixam.com"><span class="icon icon-mail"></span> service@huixam.com</a></li>
		<li><span class="icon icon-clock"></span> 週一至週五10:00 - 18:00</li>
		</ul>
		<span class="copyright">Copyright &copy; 2018 Huixam. All Right Reserved.</span>
	</div>
</footer>