<header id="header">
	<div class="container">
		<div class="logo">
			<a href="#"><img src="images/logo.png" alt="Huixam"></a>
		</div>
		<a href="#" class="nav-opener"><span></span></a>
		<div class="nav-drop">
			<div class="nav-wrap">
				<div class="header-block">
					<form class="search-form" action="#">
						<div class="input-wrap">
							<input type="search" placeholder="Search">
							<button type="submit"><span class="icon-search"></span></button>
						</div>
					</form>
					<div class="user-holder">
						<span class="user"><span class="icon-user"></span> <span class="user-text">Hello Hsaing</span></span>
						<ul class="user-list">
							<li><a href="#">link</a></li>
							<li><a href="#">link1</a></li>
							<li><a href="#">link2</a></li>
							<li><a href="#">link3</a></li>
						</ul>
					</div>
				</div>	
				<nav id="nav">
					<ul>
						<li><a href="#">品牌總覽</a></li>
						<li><a href="#">成為品牌</a></li>
					</ul>
				</nav>	
			</div>
		</div>
	</div>
</header>